<div class="login-form">
    <div class="title text-center">
        Login
    </div>

    <form [formGroup]="form" (submit)="login()">
        <div class="form-fields">
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input formControlName="login" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type='password'>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>

            <div class="error-message" *ngIf="showErrorMessage">
                Incorrect login or password.
            </div>
        </div>
    </form>
</div>