<div class="page-container" *ngIf="data">
    <div class="button-group">
        <button mat-button (click)="location.back()">
            <mat-icon>chevron_left</mat-icon>
            Back
        </button>

        <a mat-raised-button color="primary" [routerLink]="[ '../edit', data.id ]">Edit</a>

        <button mat-raised-button (click)=" delete()">Delete</button>
    </div>

    <div>
        <div class="details-container">
            <div class="logo-wrapper">
                <img src="../../../../assets/images/avatar-boy.png" alt="">

                <div class="button-group">

                    <button mat-button color="primary">CHANGE</button>
                </div>
            </div>

            <div class="details-wrapper">
                <div class="title">
                    <span>{{data.firstName + " "+ data.lastName }}</span>
                </div>

                <div class="details">

                    <div>
                        <span>Birthday: </span>
                        <span>{{data.birthday | date}}</span>
                    </div>

                    <div>
                        <span>Gender: </span>
                        <span>{{GenderType[data.gender]}}</span>
                    </div>

                    <mat-divider></mat-divider>

                    <div>
                        <span>Phone number: </span>
                        <span>{{data.phone}}</span>
                    </div>

                    <mat-divider></mat-divider>

                    <div>
                        <span>Role: </span>
                        <span>{{RoleType[data.role]}}</span>
                    </div>

                    <div>
                        <span>Email: </span>
                        <span>{{data.email}}</span>
                    </div>

                    <div>
                        <span>Active status: </span>
                        <span>{{data.isActive  | entityStatus}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>