<div class="login-form">
    <div class="title text-center">
        Change password
    </div>

    <form [formGroup]="form" (submit)="submit()">
        <div class="form-fields">
            <mat-form-field>
                <mat-label>Old password</mat-label>
                <input formControlName="oldPassword" matInput type='password'>
            </mat-form-field>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input formControlName="newPassword" matInput type='password'>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repeat Password</mat-label>
                <input formControlName="repeatPassword" matInput type='password'>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Change</button>

            <div class="error-message" *ngIf="showErrorMessage">
                Old password password is incorrect.
            </div>
        </div>
    </form>
</div>