<div class="auth-form  mat-elevation-z8">
    <div class="title"> Change password </div>

    <form [formGroup]="form" (submit)="submit()">
        <div class="form-fields">
            <mat-form-field appearance="outline">
                <mat-label>Old password</mat-label>
                <input formControlName="oldPassword" matInput type='password'>
                <mat-error *ngIf="f.oldPassword.errors as err">
                    <span *ngIf="err.required">Please enter your old password </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input formControlName="newPassword" matInput type='password'>
                <mat-error *ngIf="f.newPassword.errors as err">
                    <span *ngIf="err.required">Please enter your new password </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repeat Password</mat-label>
                <input formControlName="repeatPassword" matInput type='password'>
                <mat-error *ngIf="f.repeatPassword.errors as err">
                    <span *ngIf="err.required">Please repeat new password </span>
                    <span *ngIf="err.mustMatch">Passwords must match </span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button class="m-t-15" color="primary" type="submit"
                [disabled]="!form.valid">Change</button>

            <div class="error-message" *ngIf="showErrorMessage">
                Old password password is incorrect.
            </div>
        </div>
    </form>
</div>