<div class="form-container" *ngIf="!isLoading">
    <div class="button-group">
        <button mat-raised-button color="primary" (click)="submit()">Save</button>

        <button mat-raised-button (click)="goBack()">Cancel</button>
    </div>

    <form [formGroup]="form" class="edit-form">
        <div class="form-column">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>

            <div *ngIf="!isCreteMode" class="active-status">
                <mat-slide-toggle [labelPosition]="'before'" [color]="'primary'" formControlName="isActive">Active
                    status</mat-slide-toggle>
            </div>
        </div>
    </form>
</div>