.content-container {
    margin: 30px;
}

img {
    height: 80%;
    cursor: pointer;
    margin: 0 10px;
}

.logo-wrapper {
    background-color: white;
    color: #3f51b5;
    padding: 5px;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    font-size: 0.8em;
    line-height: 1.9em;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}