<div *ngIf="(appContextService.currentUser | async) as user">
    <div class="cards-container">
        <div class="card-wrapper" *ifRole="[RoleType.Admin, RoleType.Moderator]">
            <mat-card [routerLink]="[ '/groups' ]" matRipple class="groups">
                    <span class="title">Groups</span>
            </mat-card>
        </div>

        <div class="card-wrapper" *ifRole="[RoleType.Admin, RoleType.Moderator]">
            <mat-card [routerLink]="[ '/users' ]" matRipple class="users">
                    <span class="title">Users</span>
            </mat-card>
        </div>

        <h2 *ifRole="[RoleType.User]">You have no widgets yet!</h2>
    </div>
</div>